<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picture changing</title>
    <link rel="shortcut icon" href="static/img/vgI2BglzMtjho0_lxLjB9GfQgiv-EfnsKyDsLd_i67-Zpqul2HoeCM7Tiklzb7MM3GYEDP1kUn3c5tew5q_st1df.ico">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" type="text/css">
</head>
<body>
  <header class="bg">
    <h1 align="center" class="tttt">Будущее уже наступило</h1>
  </header>
  <div class="container">
      <div class="card">
        <img src="static/img/GfpCyx1qMlIRw52gqDU1ThydywgiO0nO4quTrJHWfXlkQ8wjT0d7BMDBKBOGjnYFcWveBy0Rz_0vmzv52ELyQcyl.jpg">
        <div class="card__head"><a href="{{menu[6].url}}" style="text-decoration: none;">{{menu[6].name}}</a></div>
      </div>
      <div class="card">
        <img src="static/img/LDpU2OeZHRkjBe5wmM6VSOBAcEjtImko7QcsXHLRIJyAbaLzXbQN4uEL0vWb-6bVc5mYh8CnU6KT163j7A6CJC-7.jpg">
        <div class="card__head"><a href="{{menu[1].url}}" style="text-decoration: none;">{{menu[1].name}}</a></div>
      </div>
      <div class="card">
        <img src="static/img/O4rqXrwYlnxnNRMATZ0PuZ-XfTS2mCBX9tatSJnsygBnKfmA1-BHH_t2spp4fWZ_iFzjLDO_HgNYYIE8WbDLZblJ.jpg">
        <div class="card__head"><a href="{{menu[3].url}}" style="text-decoration: none;">{{menu[3].name}}</a></div>
      </div>
      <div class="card">
        <img src="static/img/QE0VMSDXzyq4IFBo3d60zvBGJ8IqsTpTj1KR5NWest5OInel_kwGUypzMNPvZiBjPMF6LuUD68hzrV-FwbExpM_1.jpg">
        <div class="card__head"><a href="{{menu[2].url}}" style="text-decoration: none;">{{menu[2].name}}</a></div>
      </div>
      <div class="card">
        <img src="static/img/SCcM6kkaNyCnsEKozs8p9IcT1UHa33g7z3JQniTQqEVQbnciCOpmOhxRV8adgri6xvWPlMf4qYfuVzbkVbK9fKPV.jpg">
        <div class="card__head"><a href="{{menu[4].url}}" style="text-decoration: none;">{{menu[4].name}}</a></div>
      </div>
      <div class="card">
        <img src="static/img/photo.png">
        <div class="card__head"><a href="{{menu[0].url}}" style="text-decoration: none;">{{menu[0].name}}</a></div>
      </div>
      <div class="card">
        <img src="static/img/009.jpg">
        <div class="card__head"><a href="{{menu[7].url}}">{{menu[7].name}}</a></div>
      </div>
    </div>
    <div class="pic__on__slide">
      <h2 align="center" class="text">PICTURE CHANGING</h2>
      <p align = "center" class="text">На сегодняшний день у многих людей появилась потребность в модернизировании своих фотографий, особенно когда на это уходит мало времени без необходимости знаний о Adobe Photoshop или других редакторов фотографий. Данный проект направлен на то, чтобы люди могли загружать свои фотографии и автоматически изменять их в приглянувшемся для них стиле</p>
    </div>
    <div class="ctrl">
      <section class="bg color-1">
        <nav class="cl-effect-1">
          <a href="https://github.com/Novtin/Picture-changing" data-hover="GitHub"><span>GitHub</span></a>
          <a href="https://www.figma.com/proto/NQZ4ZOS7DvfX45zzFxmoda/Untitled?node-id=3%3A34&scaling=scale-down&page-id=0%3A1&starting-point-node-id=3%3A34" data-hover="Figma"><span>Figma</span></a>
        </nav>
      </section>
    </div>
</body>
</html>