<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение фотографий</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" type="text/css">
</head>
<body>
    <header class="bg">
        <h1 align="center" class="tttt">PICTURE CHANGING</h1>
    </header>
    <div class="main">
        <div class="text">
            <form action="{{ name }}" method="post" enctype="multipart/form-data">
                <p><label >Загрузите фотографию: </label> <input class="form-control" type="file" id="formFile" name="picture" accept=".jpg"></p>
                <p><input type="submit" id="send" value="Отправить"/></p>
                <p><img src= "{{ url_for('static', filename='images/test.jpg') }}"></p>
            </form>
            <form action="/" method="get">
                <input type="submit" id="bottom" value="Вернуться назад" />
            </form>
        </div>
    </div>
</body>
</html>